@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --amarelo: hsl(47, 88%, 63%);
    --cinza: hsl(0, 0%, 42%);
    --cinzaescuro: hsl(0, 0%, 7%);
    --fonte: "Figtree", serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: var(--fonte);
    background-color: var(--amarelo);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
    width: 375px;
    height: 540px;

    background-color: white;
    border-radius: 20px;
    border: 1.5px solid var(--cinzaescuro);
    box-shadow: 9px 9px var(--cinzaescuro);
}

figure {
    display: flex;
    justify-content: center;
}

figure img {
    border-radius: 12px;
}

.learning {
    width: 85px;
    height: 33px;
    text-align: center;
    align-content: center;
    background-color: var(--amarelo);
    color: var(--cinzaescuro);
    font-weight: 800;
    margin-top: 28px;
    border-radius: 5px;
}

#data {
    margin-top: 15px;
}

article h2 {
    margin: -5px 0px 19px 0px;
    font-weight: 800;
    color: var(--cinzaescuro);
}

article h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

article p {
    color: var(--cinza);
}

#autor {
    display: flex;
    align-items: center;
}

#autor img {
    margin-right: 15px;
}

#autor p {
    font-weight: 800;
    color: var(--cinzaescuro);
}

.margem-top {
    margin-top: 19px;
}

.margem-esq {
    margin-left: 20px;
}
